.escenario {
    border: 1px solid #333;
    padding: 10px;
}

.escenario-1 {
    font-size: 32px;
    background-color: blue;
}

.escenario-2 {
    font-size: 16px;
    background-color: white;
}

.em-1 {
    font-size: 2em;
    background-color: blue;
}

.rem-1 {
    font-size: 2rem;
    background-color: gold;
}

.em-2 {
    font-size: 2em;
    background-color: white;
}

.rem-2 {
    font-size: 2rem;
    background-color: red;
}